{% extends 'layout/app.twig' %}

{% block title %}Matcha New User{% endblock %}

{% block content %}
    <form id='fillData' method="post" action="{{ path_for('registerUserSendData', {username :user.login}) }}">
        <div style="display: flex; flex-direction: column; text-align: center;">
            <div>
                <label for='FirstName'>First Name:</label>
                <input id='FirstName' type="text" name='FirstName'>
            </div>
            <div>
                <label for='LastName'>Last Name:</label>
                <input id='LastName' type="text" name='LastName'>
            </div>
            <div>
                <label for='City'>City:</label>
                <input id='City' type="text" name='City'>
            </div>
            <div>
                <label for='Country'>Country:</label>
                <input id='Country' type="text" name='Country'>
            </div>
            <div>
                <label for='Age'>Age:</label>
                <input id='Age' type="text" name='Age'>
            </div>
            <div>
                <label for='Gender'>Gender:</label>
                <select id='Gender' form="fillData" name="Gender">
                    <option>Male</option>
                    <option>Female</option>
                    <option>Another</option>
                </select>
            </div>
            <div>
                <label for='Orientation'>Orientation:</label>
                <select id='Orientation' form="fillData" name="Orientation">
                    <option>Heterosexual</option>
                    <option>Homosexual</option>
                    <option>Bisexual</option>
                    <option>Asexual</option>
                    <option>Another</option>
                </select>
            </div>
            <div>
                <label for='Bio'>Bio:</label>
                <textarea id='Bio'  style="resize: none;" name="Bio"></textarea>
            </div>
            <div>
                <label for='Tags'>Tags:</label>
                <textarea id='Tags' style="resize: none;" name="Tags"></textarea>
            </div>
            <button type="submit">Finish!</button>
        </div>
    </form>
{% endblock %}