{% extends 'layout/app.twig' %}
{% block title %}Sign Up{% endblock %}

{% block content %}
    <div class="SignupForm" id="signup">
        <form action="{{ path_for('signup') }}" method="post">
            <div class="loginTable">
                <table>
                    <tr>
                        <td>
                            <div class="field">
                                <div style="z-index: 7">
                                    <input id="login" class="inputlogin" placeholder="Login" type="text" name="Login" >
                                </div>
                                <div class="signupErrorUser" id="userExistDiv">
                                    <p id="userExist" class='loginSignupError'></p>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>

                        <td>
                            <div class="field">
                                <div>
                                    <input id="email" class="inputlogin" placeholder="Email" type="text" name="Email" >
                                </div>
                                <div class="signupErrorUser" id="emailExistDiv">
                                    <p id="emailExist" class='loginSignupError'></p>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="field">
                                <div>
                                    <input id="passwd" class="inputlogin" placeholder="Password" type="password" name="Password" >
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="field">
                                <input id="passwd2" class="inputlogin" placeholder="Repeat Passwd" type="password" name="ConfirmedPassword" >
                            </div>
                            <div class="signupErrorUser" id="passwordMatchDiv">
                                <p id="passwordMatch" class='loginSignupError'></p>
                            </div>
                        </td>
                    </tr>
                    <th colspan="2" style="text-align: center">
                        <button class="Buttons" type="submit" id="SignUp">Sign Up</button>
                    </th>

                </table>
                <!--        </div>-->
                <div class="signupError" id="errorSign">
                    <p id="errorMsg" class='login' style='margin-top: -0vw'></p>
                </div>
            </div>
        </form>
    </div>
    {% block errormsg %}{% endblock %}
{% endblock %}