{% extends 'layout/app.twig' %}

{% block title %}Matcha Find Users{% endblock %}

{% block content %}

    <form id='findUser' action="{{ path_for('user.find.field') }}" method="post">
        <div style="display: flex; flex-direction: row; justify-content: center">
            <div>
                <label for="find_by">Find </label>
                <select id={find_by} name="find_by" form="findUser">
                    <option>By Login</option>
                    <option>By Name</option>
                    <option>By Tag</option>
                    <option>By Orientation</option>
                </select>
            </div>
            <div>
                {#<label for="Login">Login</label>#}
                <input id="Login" name="Login" type="text">
            </div>

            <div>
                <button type="submit">Find</button>
            </div>
        </div>
    </form>

    {% block result %}{% endblock %}
{% endblock %}