{% extends 'layout/app.twig' %}

{% block title %}Matcha Find Users{% endblock %}

{% block content %}
    <div style="display: flex; align-content: center; justify-content: center">
        <form action="{{ path_for('user.find.field') }}" method="post">
            <label for="Login">Login</label>
            <input id="Login" name="Login" type="text">
            <button type="submit">Find</button>
        </form>
    </div>
    {% block result %}{% endblock %}
{% endblock %}