{% extends 'layout/app.twig' %}

{% block title %}Matcha User {{ data[0].Login }}{% endblock %}

{% block content %}
    {#{% for user in data %}#}
        {#<h5>{{ user.getAllDataFromUser() }}</h5>#}
    {#{% endfor %}#}
    </br>
    <p style="display: flex; justify-content: center; color: white">{{ data[0].getAllDataFromUser() }}</p>
{% endblock %}