{% extends 'layout/app.twig' %}

{% block title %}Matcha Chat{% endblock %}

{% block content %}
    <div id='nameofuser'>{{ data.Login }}</div>
        <input type="hidden" id='hidden' value={{ data.Login }}>
        <input type="text" name="message" id='message' onkeypress="if(event.keyCode === 13){sendMessage();}">
        <button id='btn'>Send</button>
    {#<p id='login'>{{ data.Login }}</p>#}
    {#<img style="height: 100px ; width: 100px" src="photos/vts.jpg">#}
    {#ifconfig  | grep 'inet '| grep -v '127.0.0.1' | cut -d: -f2 | awk '{ print $2}'#}

    <script>
        var message = document.getElementById('message');
        var btn = document.getElementById('btn');
        var login = document.getElementById('hidden').value;
        var conn = new WebSocket('ws://e1r1p11:8101');

        function retryToConnect() {
            location.reload();
        }
        conn.onopen = function (e) {
            console.log('Connection established!');
        };

        conn.onmessage = function (e) {
            var chat = document.getElementById('chat');
            chat.innerHTML = e.data + "<br>" + chat.innerHTML;
        };
        conn.onclose = function (event) {
            console.log("Connection Closed");
            var chat = document.getElementById('chat');
            chat.innerHTML += "</br>Cant connect to server!  ";
            chat.innerHTML += '<button id="retry" onclick="retryToConnect()">Retry</button>';
        };
        conn.onerror = function (event) {
            console.log("Cant connect to server!");
//            var chat = document.getElementById('chat');
//            chat.innerHTML = "Cant connect to server!  ";
//            chat.innerHTML += '<button id="retry" onclick="retryToConnect()">Retry</button>';
        };
        btn.onclick = function () {
            if (conn) {
                sendMessage();
            }
        };
        function sendMessage() {
            var msg = message.value;
            message.value = '';
            conn.send(login + ' : ' + msg);
        }

    </script>
    <div id='chat'>

    </div>
{% endblock %}