{% extends "layout/app.twig" %}

{% block title %}Login{% endblock %}

{% block header %}
<link rel="stylesheet" href="{{ base_url() }}/CSS/signin.css">
{% endblock %}

{% block content %}
    <div class="loginForm" id="loginPage">
        <div class="Logincenter">
            <form action="{{ path_for('signin') }}" method="post">
                <table>
                    <div class="loginTable">

                        <tr>
                            <td style="align-content: center">
                                <div class="field">
                                    <input id="loginSign" class='inputlogin' placeholder="Login" type="text" name="Login" value="" required>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="field">
                                    <!--                    <p>Password:</p>-->
                                    <input class='inputlogin' placeholder="Password" id="passLog" type="password" name="Password" value="" required>
                                </div>
                            </td>
                        </tr>
                        <th colspan="2" style="text-align: center">
                            <button class="ButtonLogin" id="buttonLogin" type="submit" value="send">Log In</button>
                        </th>

                    </div>
                </table>
                <div style="display: flex; justify-content: center;">
                    <button class="ButtonForget" id="buttonForgetPass" type="button">Forget password?</button>
                </div>
                <div style="display: flex; justify-content: center;">
                    <a href="{{ path_for('signup') }}"><button class="ButtonForget" id="buttonForgetPass" type="button">Sign Up</button></a>
                </div>
            </form>
        </div>
        <div class="loginError" id="errorLog">
            <p id="tet" class='login' style='margin-top: -0vw'></p>
        </div>
    </div>
{% endblock %}